@model TdService.AppService.SignUpView

@{
    ViewBag.Title = "Registration";
}

<div class="row">
    <div class="span4 offset4">
        <form action="@Url.Action("SignUp", "Account")" method="POST">
            <fieldset>
                <legend>Register and Get Your USA Address</legend>
                <label for="credentials_username">Username or Email:</label>
                <input id="credentials_username" name="credentials_username" type="text" class="input-xlarge" placeholder="Email" />
                <label for="credentials_password">Password:</label>
                <input id="credentials_password" name="credentials_password" type="password" class="input-xlarge" placeholder="Password" />
                <label for="credentials_password_confirm">Confirm Password:</label>
                <input id="credentials_password_confirm" name="credentials_password_confirm" type="password" class="input-xlarge" placeholder="Confirm Password" />
                <hr/>
                <input id="credentials_button_login" name="credentials_login" type="submit" class="btn-primary btn-large" value="Start Shopping!"/>
            </fieldset>
        </form>
    </div>
</div>