@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
    <body>
        <div class="alert alert-error"><h3>Sorry, an error occurred while processing your request.</h3></div>
    </body>
</html>