@{
    ViewBag.Title = "Shop Any Ware";
}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Shop any ware online in the USA!</h1>
    <br/>
    <p>Buy what you want from the USA and get your merchandise delivered to your home address in CIS countries within a week.</p>
    <br/>
    <p><a href="@Url.Action("SignUp", "Account")" class="btn btn-primary btn-large">Sign up free and start shopping &raquo;</a></p>
</div>
<!-- Example row of columns -->
<div class="row">
<div class="span4">
    <h3>1. Join us & get your USA address</h3>
    <p>Registration at ShopAnyWare is free. Within minutes of completing your registration, you will receive your new dedicated USA street address in New Jersey, New York.  You will now be able to use this address for all your USA shopping. Its time to start shopping!</p>
    @*<p><a class="btn" href="#">More &raquo;</a></p>*@
</div>
<div class="span4">
    <h3>2. Shop any ware in the USA</h3>
    <p>Shop at thousands of online shopping sites in the USA including auction sites like Ebay.com, famous name brand stores such as Saks Fifth Avenue, and small independent retailers like Etsy.com. It does not matter if the the store only ships inside the USA or only accepts USA credit cards, as a ShopAnyWare Member you can now shop wherever you would like with access to the US merchant's full product offerings as well as the best pricing!</p>
    <p>Shop at US websites like you usually would and use your ShopAnyWare address as your "Ship To" address. </p>
    @*<p><a class="btn" href="#">More &raquo;</a></p>*@
</div>
<div class="span4">
    <h3>3. Receive your packages</h3>
    <p>You can set a courier preference or we will automatically select the fastest & least expensive courier option (USPS or Major Express) for you on each shipment.</p>
    <ul>
        <li>Every package is repackaged and where applicable multiple-store orders are consolidated into the same package to save you money.</li>
        <li>All customs documentation are completed for you.</li>
        <li>All merchandise is insured unless you prefer otherwise.</li>
        <li>A full range of packing options - you can even specify whether to keep or discard original shoe boxes!</li>
    </ul>
    @*<p><a class="btn" href="#">More &raquo;</a></p>*@
</div>
</div>