@using TdService.Resources.Views
@model TdService.Services.ViewModels.Account.ProfileView
@{
    ViewBag.Title = ProfileViewResources.PageTitle;
}
@using (Html.BeginForm("Save", "Profile", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <input id="model" type="hidden" value="@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model))" />
    <fieldset>
        <div class="control-group">
            <label class="control-label"><h2>Profile</h2></label>
        </div>
        <div class="control-group">
            <label class="control-label">Email</label>
            <div class="controls">
                <input class="input-xlarge" type="text" value="email address here">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Password</label>
            <div class="controls">
                <input class="input-xlarge" type="password" value="password">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">First Name</label>
            <div class="controls">
                <input class="input-xlarge" type="text" value="first name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Surname</label>
            <div class="controls">
                <input class="input-xlarge" type="text" value="surname">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Notifications</label>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" id="NotifyOnOrderStatusChange" name="NotifyOnOrderStatusChange" value="option1">
                    @ProfileViewResources.Notification_OnOrderStatusChange
                </label>
            </div>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" id="NotifyOnPackageStatusChange" value="option1">
                    @ProfileViewResources.Notification_OnPackageStatusChange
                </label>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button class="btn">Cancel</button>
        </div>
    </fieldset>
}