@{
    ViewBag.Title = "Shop Any Ware - Parcels";
}

<h2>View Parcels</h2>
<div class="row">
    <div class="span12">
        <form class="well form-search">
            <input type="text" class="input-large search-query">
            <button type="submit" class="btn">Search</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="span12">
        @{Html.RenderPartial("parcelTable");}
    </div>
</div>