<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWS.Extensions" version="1.5.16.1" targetFramework="net45" />
  <package id="AWSSDK" version="1.5.16.1" targetFramework="net45" />
  <package id="LinqToExcel_x64" version="1.7.0" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="NLog" version="2.0.0.2000" targetFramework="net45" />
  <package id="NLog.Fluent" version="1.0.0.2" targetFramework="net45" />
  <package id="SeeSharpShip" version="0.1.6.0" targetFramework="net45" />
</packages>