<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="ShopAnyWareSql" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TdService.ShopAnyWare.Specs;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <paypal>
    <settings>
      <!-- The API endpoint -->
      <add name="endpoint" value="https://api-3t.sandbox.paypal.com/2.0"/>
      <!-- Connection timeout in milliseconds -->
      <add name="connectionTimeout" value="360000"/>
      <!-- The number of times a request must be retried if the API endpoint is unresponsive -->
      <add name="requestRetries" value="3"/>
      <add name="binding" value="SOAP"/>
      <add name="IPAddress" value="127.0.0.1"/>
    </settings>
    <accounts>
      <account apiUsername="ppsell_1354322737_biz_api1.mail.ru" apiPassword="1354322791"
        apiSignature="A6c-0lF-9YU1-wjCjpPggWkddg1UAM9Gr46WhJah8DeNZw9-m9n6G2KX" applicationId="APP-80W284485P519543T"
        certificateSubject=""
        signatureSubject=""/>
    </accounts>
  </paypal>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="paypalTests.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="email-smtp.us-east-1.amazonaws.com" port="25" enableSsl="true" userName="AKIAJXICDWFKLGRXRYQQ" password="At68h2AeX8hAkKxfjW2Mq+iPzrzFYPZjRR0SJXoZwnek" />
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Codebase\EmailPickupFolder" />
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow>
</configuration>