<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="glimpse" type="Glimpse.Core.Configuration.GlimpseConfiguration" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LoggerName" value="TdServiceLogger" />
  </appSettings>
  <connectionStrings>
    <clear />
    <!--<add name="ShopAnyWareSql" connectionString="data source=.\SQLEXPRESS;Initial Catalog=ShopAnyWare;User ID=webuser;Password=webaccess;Persist Security Info=True" providerName="System.Data.SqlClient" />-->
    <add name="ShopAnyWareSql" connectionString="Data Source=tdservice.c4wexmejaics.us-east-1.rds.amazonaws.com,1433;Initial Catalog=ShopAnyWare;Integrated Security=False;Persist Security Info=True;User ID=dbuser;Password=dbpassword" providerName="System.Data.SqlClient" />
    <!--<add name="ShopAnyWareAmazonRds" connectionString="Datasource=tdservice1.c4wexmejaics.us-east-1.rds.amazonaws.com;Database=shopanyware;uid=dbuser;pwd=dbpassword;Persist Security Info=True;" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <network host="yoursmtpserver" port="25" userName="username" password="password" defaultCredentials="true" />
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Codebase\EmailPickupFolder" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime requestValidationMode="4.5" targetFramework="4.5" encoderType="System.Web.Security.AntiXss.AntiXssEncoder, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </system.Web>

    The following values can be added to <appSettings>.
      <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
      </appSettings>
    -->
  <system.web>
    <trace enabled="false" localOnly="false" pageOutput="true" requestLimit="20" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/SignIn" defaultUrl="~/Member/Dashboard" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
      </providers>
    </membership>
    <roleManager enabled="true" domain="shopanyware.com" defaultProvider="ShopAnyWareRoleProvider">
      <providers>
        <clear />
        <add name="ShopAnyWareRoleProvider" type="TdService.Providers.ShopAnyWareRoleProvider" connectionStringName="ShopAnyWareSql" />
      </providers>
    </roleManager>
    <profile enabled="false">
      <providers>
        <clear />
      </providers>
    </profile>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!--<siteMap defaultProvider="TopMenu" enabled="true">
      <providers>
        <clear />
        <add name="TopMenu" type="MvcSiteMapProvider.DefaultSiteMapProvider, MvcSiteMapProvider" siteMapFile="~/Sitemaps/TopMenu.sitemap" securityTrimmingEnabled="true" cacheDuration="0" enableLocalization="true" scanAssembliesForSiteMapNodes="true" includeAssembliesForScan="" excludeAssembliesForScan="" attributesToIgnore="visibility" />
        <add name="Shopper" type="MvcSiteMapProvider.DefaultSiteMapProvider, MvcSiteMapProvider" siteMapFile="~/Sitemaps/Shopper.sitemap" securityTrimmingEnabled="true" cacheDuration="0" enableLocalization="true" scanAssembliesForSiteMapNodes="true" includeAssembliesForScan="" excludeAssembliesForScan="" attributesToIgnore="visibility" />
      </providers>
    </siteMap>-->
    <sessionState cookieName="tdservice_SessionId" mode="StateServer" />
    <machineKey decryption="3DES" decryptionKey="FB942C7A6ED58A9773968BDBF885F884547B237BF5F1AD86,IsolateApps" validation="AES" validationKey="8286665DA6DD66DABDA18B1652F78E6CDD109369C4AAF42196BC443785E5A030AB19A8FE93A953CCBEBD3D5ADC32CC35C32EE56391ED342BFB95991DD2FD392D,IsolateApps" />
    <httpModules>
      <add name="Glimpse" type="Glimpse.Core.Module" />
    </httpModules>
    <httpHandlers>
      <add path="glimpse.axd" verb="GET,POST" type="Glimpse.Core.Handler" />
    </httpHandlers>
    <compilation debug="false" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Glimpse" type="Glimpse.Core.Module,Glimpse.Core" preCondition="integratedMode" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Glimpse" path="glimpse.axd" verb="GET,POST" type="Glimpse.Core.Handler,Glimpse.Core" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector.Extensions" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.12238" newVersion="1.5.0.12238" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <glimpse enabled="true" />
</configuration>