@model TdService.AppService.SignInView

@{
    ViewBag.Title = "Shop Any Ware - Sign In";
}
<div class="row">
    <div class="span4 offset4">
        <form action="@Url.Action("SignIn", "Account")" method="POST">
            <fieldset>
                <legend>Sign In Form</legend>
                <label for="credentials_username">Username or Email:</label>
                <input id="credentials_username" name="credentials_username" type="text" class="input-xlarge" placeholder="Email" />
                <label for="credentials_password">Password:</label>
                <input id="credentials_password" name="credentials_password" type="password" class="input-xlarge" placeholder="Password" />
                <hr/>
                <input id="credentials_button_login" name="credentials_login" type="submit" class="btn btn-primary btn-large" value="Start Shopping"/>
                <input id="credentials_button_cancel" name="credentials_cancel" type="button" class="btn btn-large" value="Cancel" />
            </fieldset>
        </form>
    </div>
</div>