<table class="table-striped table-condensed transaction">
    <tbody>
        <tr>
            <th>Description</th>
            <th>Date</th>
            <th>Status</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>Balance replenishment</td>
            <td>10-may-2012:</td>
            <td>Pending</td>
            <td>$20</td>
        </tr>
        <tr>
            <td>Shipment / Package #</td>
            <td>09-may-2012:</td>
            <td>Pending</td>
            <td>$42</td>
        </tr>
        <tr>
            <td>Balance replenishment</td>
            <td>09-may-2012:</td>
            <td>Approved</td>
            <td>$10</td>
        </tr>
        <tr>
            <td>Shipment / Package #</td>
            <td>09-may-2012:</td>
            <td>Approved</td>
            <td>$68.75</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"></td>
            <td>
                <a href="#" class="btn btn-success">Add Funds</a>
            </td>
        </tr>
    </tfoot>
</table>