<table class="table table-striped table-condensed">
    <caption style="padding-bottom: 4px;">
        <h4 style="float: left;padding-top: 6px">Latest Orders</h4>
        <a class="btn btn-small btn-primary" href="#" style="float: right"><i class="icon-white icon-shopping-cart"></i> ADD SHOP ORDER</a>
    </caption>
    <thead>
        <tr>
            <th>#</th>
            <th>Shop</th>
            <th>Shop's Order #</th>
            <th>Tracking Number</th>
            <th>Weight</th>
            <th>Photos</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>22112</td>
            <td>Amazon</td>
            <td>7732267633</td>
            <td>1Z32863V0307459092</td>
            <td>-</td>
            <td>Invoices</td>
            <td><span class="label label-warning">Waiting</span></td>
            <td><a href="#">details</a></td>
        </tr>
        <tr>
            <td>22113</td>
            <td>Amazon</td>
            <td>7732267633</td>
            <td>1Z0140120251387691</td>
            <td>-</td>
            <td>All Inside</td>
            <td><span class="label label-warning">Waiting</span></td>
            <td><a href="#">details</a></td>
        </tr>
        <tr>
            <td>22114</td>
            <td>Amazon</td>
            <td>7732267633</td>
            <td>1Z0140120251387691</td>
            <td>2 lbs 10 oz</td>
            <td><a href="#">view</a></td>
            <td><span class="label label-success">Received</span></td>
            <td><a href="#">details</a></td>
        </tr>
        <tr>
            <td>22115</td>
            <td>Amazon</td>
            <td>7732267633</td>
            <td>1Z0140120251387691</td>
            <td>5 lbs 12 oz</td>
            <td><a href="#">view</a></td>
            <td><span class="label label-success">Received</span></td>
            <td><a href="#">details</a></td>
        </tr>
        <tr>
            <td>22116</td>
            <td>Amazon</td>
            <td>7732267633</td>
            <td>1Z0140120251387691</td>
            <td>3 lbs 45 oz</td>
            <td>No</td>
            <td><span class="label label-info">Processed</span></td>
            <td><a href="#">details</a></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6" style="text-align: center">
                <a class="btn btn-mini btn-info" href="@Url.Action("Index", "Order")">SHOW MORE</a>
            </td>
        </tr>
    </tfoot>
</table>