<div id="storeAddress" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Your Store Address in USA</h3>
    </div>
    <div class="modal-body">
    <table class="table-striped table-condensed" style="width: 100%">
        <tbody>
            <tr>
                <td>First Name: </td>
                <td>Vitali</td>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td>Hatalski</td>
            </tr>
            <tr>
                <td>Address 1: </td>
                <td>701 Ashland Ave</td>
            </tr>
            <tr>
                <td>Address 2: </td>
                <td>BWW-Ltrshop , Ste #20901</td>
            </tr>
            <tr>
                <td>Zip Code: </td>
                <td>19032</td>
            </tr>
            <tr>
                <td>City: </td>
                <td>Folcroft</td>
            </tr>
            <tr>
                <td>State: </td>
                <td>"Pennsylvania" or "PA"</td>
            </tr>
            <tr>
                <td>Phone: </td>
                <td>(734)5166594</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>