@{
    ViewBag.Title = "Shop Any Ware - Overview";
}

<div class="row-fluid">
    <div class="span4">
                <div class="package new">
                    <div><a href="#" class="btn btn-large btn-success" data-toggle="modal"><i class="icon-white icon-plus"></i> Click to add a new order</a></div>
                </div>
        <div data-bind="foreach: orders">
            <div class="package action">
                <div class="box">
                    <div class="white"><span data-bind="text: shop"></span>, Order # <span data-bind="text: orderNumber"></span></div>
                    <div class="white">Tracking # <a class="tn" title="A Title" data-content="And here's some amazing content. It's very engaging. right?" data-bind="text: trackingNumber" href="http://trkcnfrm1.smi.usps.com/PTSInternetWeb/InterLabelInquiry.do?origTrackNum=EE972210493US"></a></div>
                    <div class="white">
                        <table>
                            <thead>
                                <tr>
                                    <th>Item Name</th>
                                    <th>Size</th>
                                    <th>Color</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody id="order_items" data-bind="sortable: {data: items}">
                                <tr>
                                    <td class="left"><a href="#" data-bind="click: $parent.removeItem, text: name"></a></td>
                                    <td data-bind="text: size" contenteditable="true"></td>
                                    <td data-bind="text: color" contenteditable="true"></td>
                                    <td data-bind="text: quantity" contenteditable="true"></td>
                                    <td data-bind="text: price" contenteditable="true"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button href="#photo" class="btn btn-small" data-toggle="modal"><i class="icon-camera"></i>PHOTO</button>
                        </div>
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#" data-bind="click: addItem">Add Item</a></li>
                                <li><a href="#">Remove box</a></li>
                                <li><a href="#">Remove invoice</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Return package</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="labels">
                    <span class="label label-info">ID: <span data-bind="text: id"></span></span>
                    <span class="label label-info label-photo">Photo:</span><a href="#" class="badge badge-photo">4</a>
                    <span class="label label-info">Status: <span data-bind="text: status"></span></span>
                    <span class="label label-info">Date: <span data-bind="text: receivedDate"></span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="package new">
            <div><a href="#" class="btn btn-large btn-success" data-toggle="modal"><i class="icon-white icon-plus"></i> Click to add a new package</a></div>
        </div>
        <table class="pac">
            <tr>
                <td class="l_t"></td>
                <td class="c_t"></td>
                <td class="r_t"></td>
            </tr>
            <tr>
                <td class="l_c"></td>
                <td class="c_c">zdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xz<br /><br /><br /><br /><br /><br /><br />zdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xz<br /><br /><br /><br /><br /><br /><br />zdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xz<br /><br /><br /><br /><br /><br /><br />zdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xz<br /><br /><br /><br /><br /><br /><br />zdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xz<br /><br /><br /><br /><br /><br /><br />zdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xzzdfzxvxzcv zvzc zxcv xz<br /><br /><br /><br /><br /><br /><br /></td>
                <td class="r_c"></td>
            </tr>
            <tr>
                <td class="l_b"></td>
                <td class="c_b"></td>
                <td class="r_b"></td>
            </tr>
        </table>
        <div data-bind="foreach: packages">
            <div class="package action">
                <div class="box">
                    <div class="white" data-bind="text: description"></div>
                    <div class="white span3" data-bind="text: deliveryAddress"></div>
                    <div class="white span2" data-bind="text: dispatchMethod"></div>
                    <div class="white">
                        <table>
                            <thead>
                                <tr>
                                    <th>Item Name</th>
                                    <th>Size</th>
                                    <th>Color</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody id="package_items" data-bind="sortable: {data: items}">
                                <tr>
                                    <td class="left" data-bind="text: name"></td>
                                    <td data-bind="text: size"></td>
                                    <td data-bind="text: color"></td>
                                    <td data-bind="text: quantity"></td>
                                    <td data-bind="text: price"></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="right" colspan="3">Total</td>
                                    <td>4</td>
                                    <td>$70</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <p class="right">
                        <span>COST: $1234</span>
                        <span>Weight: 1.23 kg</span>
                        <a href="#" class="btn btn-small" data-toggle="modal"><i class="icon-plane"></i>SEND PACKAGE</a>
                    </p>
                </div>
                <div class="labels">
                    <span class="label label-info">ID: 38737</span>
                    <span class="label label-info label-photo">Photo:</span><a href="#" class="badge badge-photo">4</a>
                    <span class="label label-info">Status: In Process</span>
                    <span class="label label-info">Delivery Date: 10 Feb 2012</span>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="package new">
            <div><a href="#" class="btn btn-large btn-danger" data-toggle="modal"><i class="icon-white icon-trash"></i> Drop here to remove</a></div>
        </div>
        Delivered Packages
        <ul>
            <li>
                <div>ID: 3 Description, TN# 1Z32863V0307459092, Delivery Date, Dispatch Date, <span class="label label-success">Delivered</span>, Weight, Request Additional Services (remove invoices, remove boots box, pack in a plastic box, etc.</div>
                <div>Item 1, Name: Kindle, Quantity: 1, Color: Black, Price: 79$</div>
                <div>Item 2, Name: IPAD, Quantity: 1, Color: White, Price: 450$</div>
                <div>Total: Quantity 2, Price: 529$</div>
            </li>
            <li>
                <div>ID: 4 Description, TN# 1Z32863V0307459092, Delivery Date, Dispatch Date, <span class="label label-success">Delivered</span>, Weight, Request Additional Services (remove invoices, remove boots box, pack in a plastic box, etc.</div>
                <div>Item 1, Name: Kindle, Quantity: 1, Color: Black, Price: 79$</div>
                <div>Item 2, Name: IPAD, Quantity: 1, Color: White, Price: 450$</div>
                <div>Total: Quantity 2, Price: 529$</div>
            </li>
        </ul>
        <div class="package">
            <div class="box">
                <div class="white">User address</div>
                <div class="white">Delivery method</div>
                <div class="white">
                    <table>
                        <tr>
                            <th>Item Name</th>
                            <th>Size/Color</th>
                            <th>Weight</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td class="left">Package1: item1</td>
                            <td>22/black</td>
                            <td>.510kg</td>
                            <td>2</td>
                            <td>$24</td>
                        </tr>
                        <tr>
                            <td class="left">Package1: item2</td>
                            <td>white</td>
                            <td>.240kg</td>
                            <td>1</td>
                            <td>$2</td>
                        </tr>
                        <tr>
                            <td class="left">Package2: item3</td>
                            <td>silver</td>
                            <td>.360kg</td>
                            <td>1</td>
                            <td>$7</td>
                        </tr>
                        <tr>
                            <td class="left">Package3 [Full]</td>
                            <td></td>
                            <td>.800kg</td>
                            <td></td>
                            <td>$37</td>
                        </tr>
                        <tr>
                            <td class="right" colspan="2">Total</td>
                            <td>1.910kg</td>
                            <td>4</td>
                            <td>$70</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="labels">
                <span class="label label-info">ID: 38737</span>
                <span class="label label-info label-photo">Photo:</span><a href="#" class="badge badge-photo">4</a>
                <span class="label label-success">Status: Delivered</span>
                <span class="label label-info">Delivery Date: 10 Feb 2012</span>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/model/DashboardViewModel.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".tn").popover();
            $("table, tr").disableSelection();
        });
    </script>
}