@{
    ViewBag.Title = "Shop Any Ware - Overview";
}
<div class="row-fluid">
    <div class="span4">
        <div id="addOrderForm" class="package">
            <ul class="nav nav-tabs">
                <li><a href="#">Мы покупаем и пересылаем</a></li>
                <li class="active"><a href="#">Вы покупаете и мы пересылаем</a></li>
            </ul>
            <table class="form-inline" style="width:100%;position: relative;z-index: 1001">
                <tr>
                    <td>
                        <input class="add-order" style="width: 100%" data-bind="value: newOrder, autosuggest: shops" placeholder="please enter shop name"/>
                    </td>
                    <td>
                        <a href="#" class="btn btn-large btn-success" style="float: right" data-bind="click: addOrder">Add Order</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="orders" style="clear: left" data-bind="foreach: orders">
            <div class="package action">
                <div class="box">
                    <div>
                        <img title="Collapse" data-toggle="collapse" data-target="#order_extended" src="@Url.Content("~/content/img/story_collapsed1.png")" alt="Collapse">
                        <span class="">ID: <span data-bind="text: id"></span></span>
                        <span style="float:right" data-bind="text: receivedDate"></span>
                    </div>
                    <div class="white">
                        <i class="icon icon-pencil"></i> Order # <span data-bind="text: orderNumber" type="text" placeholder="size"></span> from <span data-bind="text: shop"></span>
                        <br />
                        <i class="icon icon-pencil"></i> Tracking # <span class="tn" title="A Title" data-content="And here's some amazing content. It's very engaging. right?" data-bind="text: trackingNumber" href="http://trkcnfrm1.smi.usps.com/PTSInternetWeb/InterLabelInquiry.do?origTrackNum=EE972210493US"></span>
                    </div>
                    <div id="order_extended" class="collapse in">
                        <div class="white">
                            The items will be automatically displayed when the order received.
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="left">Item</th>
                                        <th>Price</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="sortable" id="order_items" data-bind="sortable: {data: items, afterAdd: showItem}">
                                    <tr>
                                        <td class="draggable"><div></div></td>
                                        <td class="left"><i class="icon-camera"></i> <span class="tn" title="Kindle" data-content="<table class='details'><tr><td><img src='@Url.Content("~/content/img/kindle.jpg")' /></td><td><p>Name: Kindle</p><p>Weight: 1.3lbs</p><p>Color: Black</p><p>Quantity: 1</p><p>Cost: $100</p></td>" data-bind="click: $parent.removeItem, text: name"></span></td>
                                        <td><span data-bind="text: price"></span></td>
                                        <td class="draggable"><div></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <button class="btn btn-small btn-primary" data-toggle="modal" href="#myModal"><i class="icon-white icon-plus-sign"></i> ADD ITEM</button>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-small btn-danger" data-bind="click: $parent.removeOrder"><i class="icon-white icon-trash"></i> REMOVE</button>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-small" data-toggle="modal"><i class="icon-retweet"></i> RETURN</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="package">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Recent</a></li>
                <li><a href="#">History</a></li>
            </ul>
            <div><a href="#" class="btn btn-large btn-success" style="float: right" data-toggle="modal"><i class="icon-white icon-gift"></i> Add Package</a></div>
            <div style="clear: right"></div>
        </div>
        <div id="packages" data-bind="foreach: packages">
            <div class="package action">
                <div class="box">
                    <div>
                        <img title="Collapse" data-toggle="collapse" src="@Url.Content("~/content/img/story_collapsed1.png")" alt="Collapse">
                        <span data-bind="text: description"></span>
                        <span style="float:right"></span>
                    </div>
                    <div class="white">
                        <span data-bind="text: deliveryAddress"></span>
                        <br />
                        <span data-bind="text: dispatchMethod"></span>
                    </div>
                    <div class="white">
                        <table>
                            <thead>
                                <tr>
                                    <th class="left">Item</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody id="package_items" data-bind="sortable: {data: items}">
                                <tr>
                                    <td class="left"><i class="icon-camera"></i> <span data-bind="text: name"></span></td>
                                    <td><span data-bind="text: price"></span></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="right">Total</td>
                                    <td>$70</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <p class="right">
                        <span>COST: $1234</span>
                        <span>Weight: 1.23 kg</span>
                        <a href="#" class="btn btn-small" data-toggle="modal"><i class="icon-plane"></i>SEND PACKAGE</a>
                    </p>
                </div>
                <div>
                    <span class="label label-info">ID: 38737</span>
                    <span class="label label-info label-photo">Photo:</span><a href="#" class="label badge-photo">4</a>
                    <span class="label label-info">Status: In Process</span>
                    <span class="label label-info">Delivery Date: 10 Feb 2012</span>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="package">
            <ul class="nav nav-tabs" style="visibility:hidden">
                <li class="active"><a href="#">&nbsp;</a></li>
            </ul>
            <span style="font-size: 26px;margin:10px 10px 0;display:block;float: left">Balance: $100</span>
            <a href="#" class="btn btn-large btn-success" style="float: right" data-bind="click: addOrder">Add Funds</a>
            <div style="clear: left;padding-bottom:10px"></div>
        </div>
        <div class="package" style="clear: left">
            <div class="box">
                <div class="white">
                    <table>
                        <tr>
                            <th class="left">Description</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Total</th>
                        </tr>
                        <tr>
                            <td class="left">Shipment / Package #</td>
                            <td>Date</td>
                            <td><span class="label label-warning">Pending</span></td>
                            <td>$68.75</td>
                        </tr>
                        <tr>
                            <td class="left">Shipment / Package #</td>
                            <td>Date</td>
                            <td><span class="label label-warning">Pending</span></td>
                            <td>$68.75</td>
                        </tr>
                        <tr>
                            <td class="left">Shipment / Package #</td>
                            <td>Date</td>
                            <td><span class="label label-success">Approved</span></td>
                            <td>$68.75</td>
                        </tr>
                        <tr>
                            <td class="left">Shipment / Package #</td>
                            <td>Date</td>
                            <td><span class="label label-success">Approved</span></td>
                            <td>$68.75</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="package">
            <div class="box">
                <div class="white">Your Store Address in USA</div>
                <div class="white">
                    <table>
                        <tr>
                            <td>First Name: </td>
                            <td>Vitali</td>
                        </tr>
                        <tr>
                            <td>Last Name: </td>
                            <td>Hatalski</td>
                        </tr>
                        <tr>
                            <td>Address 1: </td>
                            <td>701 Ashland Ave</td>
                        </tr>
                        <tr>
                            <td>Address 2: </td>
                            <td>BWW-Ltrshop , Ste #20901</td>
                        </tr>
                        <tr>
                            <td>Zip Code: </td>
                            <td>19032</td>
                        </tr>
                        <tr>
                            <td>City: </td>
                            <td>Folcroft</td>
                        </tr>
                        <tr>
                            <td>State: </td>
                            <td>"Pennsylvania" or "PA"</td>
                        </tr>
                        <tr>
                            <td>Phone: </td>
                            <td>(734)5166594</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myModal" style="display: none">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>
@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/model/DashboardViewModel.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //            $('.left').dotdotdot({
            //                watch: 'window'
            //            });
            //            $('.add-order').tooltip({title: 'wrong url'});
            $(".tn").popover();
            // $("table, tr").disableSelection();
            //$("html").niceScroll();
//            var columnHeight = $(window).height() - $("#actionPanel").height() - $("#topmenu").height() - $(".modal-footer").height() - 90;
//            $("#orders").height(columnHeight - 100);
//            $("#packages").height(columnHeight - 55);
            // $([]).add("#orders").add("#packages").niceScroll({ cursorborder: "", cursorcolor: "#A67852", boxzoom: false });
        });
    </script>
}