@{
    ViewBag.Title = "ShopAnyWare - Welcome";
}

Добро пожаловать!

Уважаемый(ая) Vitali Hatalski!

Мы рады приветствовать Вас на нашем ресурсе. Надеемся, что мы станем хорошими друзьями и Вам будет легко и приятно работать с нами.

Ваш адрес для заказа в американских интернет магазинах:

First name: Vitali
Last name: Hatalski
Индекс: 19032
Street address (строка 1): 701 Ashland Ave
Street address (строка 2): BWW-Lettershop Ste 48419
Город: Folcroft
State: "Pennsylvania" или "PA"
Телефон: 7345166594
Вы всегда сможете его найти в разделе Настройки главного меню.

<a class="btn btn-success" href="@Url.Action("Dashboard")">Start working with your orders!</a>