@{
    ViewBag.Title = "Administrator Dashboard";
}

<h2>Admin Dashboard</h2>
<ul class="nav nav-tabs">
    <li><a href="#users" data-toggle="tab">Users</a></li>
    <li><a href="#roles" data-toggle="tab">Roles</a></li>
    <li><a href="#messages" data-toggle="tab">Messages</a></li>
    <li><a href="#settings" data-toggle="tab">Settings</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="users">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Roles</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>…</td>
                    <td>…</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="roles">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>…</td>
                    <td>…</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="messages">...</div>
    <div class="tab-pane" id="settings">...</div>
</div>