@{
    ViewBag.Title = "Administrator Dashboard";
}

<h2>Admin Dashboard</h2>
<ul class="nav nav-tabs">
    <li><a href="#users" data-toggle="tab">Users</a></li>
    <li><a href="#roles" data-toggle="tab">Administrators</a></li>
    <li><a href="#messages" data-toggle="tab">Messages</a></li>
    <li><a href="#settings" data-toggle="tab">Settings</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="users">
        <form class="well form-inline" style="padding: 8px 0 0">
            <ul class="filter">
                <li class="span4">
                    <input type="text" class="span3">
                    <button type="submit" class="btn">Find</button>
                </li>
                <li class="span4">
                    <input type="text" class="span3">
                    <button type="submit" class="btn">Find</button>
                </li>
            </ul>
        </form>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 12px">
                        <input type="checkbox" /></th>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Full name</th>
                    <th>Orders</th>
                    <th>Packages</th>
                    <th>Email</th>
                    <th>Last access time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td><a href="/Member/Dashboard">1</a></td>
                    <td><a href="/Member/Dashboard">Username</a></td>
                    <td><a href="/Member/Dashboard">Vasya Pupkin</a></td>
                    <td><a href="/Member/Dashboard">2</a></td>
                    <td><a href="/Member/Dashboard">4</a></td>
                    <td><a href="/Member/Dashboard">email@domain.com</a></td>
                    <td><a href="/Member/Dashboard">14 okt 2012</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td><a href="/Member/Dashboard">2</a></td>
                    <td><a href="/Member/Dashboard">Another one</a></td>
                    <td><a href="/Member/Dashboard">Brat Vasi Pupkina</a></td>
                    <td><a href="/Member/Dashboard">1</a></td>
                    <td><a href="/Member/Dashboard">2</a></td>
                    <td><a href="/Member/Dashboard">email2@domain.com</a></td>
                    <td><a href="/Member/Dashboard">16 okt 2012</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="roles">
        <table class="table table-bordered span4 header">
            <thead>
                <tr>
                    <th>Project viewer</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tag build</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Take responsibility</td>
                    <td></td>
                </tr>
                <tr>
                    <td>View project</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered span4 header">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tag build</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Take responsibility</td>
                    <td></td>
                </tr>
                <tr>
                    <td>View project</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered span4 header">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tag build</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Take responsibility</td>
                    <td></td>
                </tr>
                <tr>
                    <td>View project</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="messages">...</div>
    <div class="tab-pane" id="settings">...</div>
</div>
