@{
    ViewBag.Title = "Shop Any Ware - Home";
}

<div class="row">
    <div class="span9">
        <table class="table-bordered table-striped table-condensed">
            <caption style="text-align: right;padding-bottom: 4px;">
                <a class="btn btn-primary" href="#"><i class="icon-white icon-plus"></i> ADD ORDER</a>
            </caption>
            <thead>
                <tr>
                    <td>Order #</td>
                    <td>Shop</td>
                    <td>Shop's Order #</td>
                    <td>Weight</td>
                    <td>Status</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>22112</td>
                    <td>Amazon</td>
                    <td>7732267633</td>
                    <td></td>
                    <td><span class="label label-warning">Waiting</span></td>
                    <td><a href="#">details</a></td>
                </tr>
                <tr>
                    <td>22113</td>
                    <td>Amazon</td>
                    <td>7732267633</td>
                    <td></td>
                    <td><span class="label label-warning">Waiting</span></td>
                    <td><a href="#">details</a></td>
                </tr>
                <tr>
                    <td>22114</td>
                    <td>Amazon</td>
                    <td>7732267633</td>
                    <td></td>
                    <td><span class="label label-success">Received</span></td>
                    <td><a href="#">details</a></td>
                </tr>
                <tr>
                    <td>22115</td>
                    <td>Amazon</td>
                    <td>7732267633</td>
                    <td></td>
                    <td><span class="label label-success">Received</span></td>
                    <td><a href="#">details</a></td>
                </tr>
                <tr>
                    <td>22116</td>
                    <td>Amazon</td>
                    <td>7732267633</td>
                    <td></td>
                    <td><span class="label label-info">Processed</span></td>
                    <td><a href="#">details</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr></tr>
            </tfoot>
        </table>
    </div>
    <div class="span3">
        <h3>View Balance</h3>
    </div>
</div>
<div class="row">
    <div class="span9">
        <table class="table-bordered table-striped table-condensed">
            <caption style="text-align: right;padding-bottom: 4px;">
                <a href="#" class="btn btn-primary"><i class="icon-white icon-gift"></i> COLLECT A PARCEL</a>
            </caption>
            <thead>
                <tr>
                    <td>Parcel #</td>
                    <td>Delivery Address</td>
                    <td>Delivery Method</td>
                    <td>Dispatch Date</td>
                    <td>Delivery Date</td>
                    <td>Insurance</td>
                    <td>Weight</td>
                    <td>Status</td>
                    <td>Tracking Number</td>
                    <td>Cost</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Minsk, Novovilenskaya</td>
                    <td>ESM Express</td>
                    <td></td>
                    <td><span class="label label-warning">Waiting</span></td>
                    <td><a href="#">details</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Amazon</td>
                    <td>7732267633</td>
                    <td></td>
                    <td><span class="label label-warning">Waiting</span></td>
                    <td><a href="#">details</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Amazon</td>
                    <td>7732267633</td>
                    <td></td>
                    <td><span class="label label-success">Received</span></td>
                    <td><a href="#">details</a></td>
                </tr>
                <tr>
                    <td>22115</td>
                    <td>Amazon</td>
                    <td>7732267633</td>
                    <td></td>
                    <td><span class="label label-success">Received</span></td>
                    <td><a href="#">details</a></td>
                </tr>
                <tr>
                    <td>22116</td>
                    <td>Amazon</td>
                    <td>7732267633</td>
                    <td></td>
                    <td><span class="label label-info">Processed</span></td>
                    <td><a href="#">details</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr></tr>
            </tfoot>
        </table>
    </div>
    <div class="span3">
        News
    </div>
</div>