@{
    ViewBag.Title = "Shop Any Ware - Summary";
}

<div class="alert">
    <a class="close" data-dismiss="alert">×</a>
    <strong>Warning!</strong> Please add money to your balance so we can process incoming orders (take a photo).
</div>

<div class="row">
    <div class="span8">
        <table class="table table-striped table-condensed">
            <caption style="text-align: right;padding-bottom: 4px;">
                <h4 style="float: left;padding-top: 6px">Account Balance: 0 USD</h4>
                <a class="btn btn-small btn-primary" href="#"><i class="icon-white icon-plus"></i> ADD</a>
                <a class="btn btn-small btn-primary" href="#"><i class="icon-white icon-minus"></i> WITHDRAW</a>
            </caption>
            <thead>
                <tr>
                    <td>Date</td>
                    <td>Type</td>
                    <td>Status</td>
                    <td>Amount</td>
                    <td>Commission</td>
                    <td>Total</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>19 Feb 2012</td>
                    <td>Payment - Paypal</td>
                    <td><span class="label label-warning">Pending</span></td>
                    <td>54.75 USD</td>
                    <td>-2.01 USD</td>
                    <td>56.76 USD</td>
                </tr>
                <tr>
                    <td>02 Feb 2012</td>
                    <td>Shipment - #1</td>
                    <td><span class="label label-info">Delivered</span></td>
                    <td>68.75 USD</td>
                    <td>0 USD</td>
                    <td>-68.75 USD</td>
                </tr>
                <tr>
                    <td>01 Feb 2012</td>
                    <td>Payment - Paypal</td>
                    <td><span class="label label-success">Approved</span></td>
                    <td>68.75 USD</td>
                    <td>-2.48 USD</td>
                    <td>71.23 USD</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" style="text-align: center">
                        <a class="btn btn-mini btn-info" href="@Url.Action("Index", "Balance")">SHOW MORE</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="span4">
        <table class="table-condensed" style="width:100%;margin-bottom: 18px;background-color: whitesmoke;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;">
            <caption style="padding-bottom: 8px;">
                <h4 style="float: left;padding-top: 6px">Store Address in USA</h4>
            </caption>
            <tbody>
                <tr>
                    <td>First Name: </td>
                    <td>Vitali</td>
                </tr>
                <tr>
                    <td>Last Name: </td>
                    <td>Hatalski</td>
                </tr>
                <tr>
                    <td>Address 1: </td>
                    <td>701 Ashland Ave</td>
                </tr>
                <tr>
                    <td>Address 2: </td>
                    <td>BWW-Ltrshop , Ste #20901</td>
                </tr>
                <tr>
                    <td>Zip Code: </td>
                    <td>19032</td>
                </tr>
                <tr>
                    <td>City: </td>
                    <td>Folcroft</td>
                </tr>
                <tr>
                    <td>State: </td>
                    <td>"Pennsylvania" or "PA"</td>
                </tr>
                <tr>
                    <td>Phone: </td>
                    <td>(734)5166594</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="span12">
        <table class="table table-striped table-condensed">
            <caption style="padding-bottom: 4px;">
                <h4 style="float: left;padding-top: 6px">Latest Orders</h4>
                <a class="btn btn-small btn-primary" href="#" style="float: right"><i class="icon-white icon-shopping-cart"></i> ADD SHOP ORDER</a>
            </caption>
            <thead>
                <tr>
                    <td>#</td>
                    <td>Shop</td>
                    <td>Shop's Order #</td>
                    <td>Tracking Number</td>
                    <td>Weight</td>
                    <td>Photos</td>
                    <td>Status</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>22112</td>
                    <td>Amazon</td>
                    <td>7732267633</td>
                    <td>1Z32863V0307459092</td>
                    <td>-</td>
                    <td>Invoices</td>
                    <td><span class="label label-warning">Waiting</span></td>
                    <td><a href="#">details</a></td>
                </tr>
                <tr>
                    <td>22113</td>
                    <td>Amazon</td>
                    <td>7732267633</td>
                    <td>1Z0140120251387691</td>
                    <td>-</td>
                    <td>All Inside</td>
                    <td><span class="label label-warning">Waiting</span></td>
                    <td><a href="#">details</a></td>
                </tr>
                <tr>
                    <td>22114</td>
                    <td>Amazon</td>
                    <td>7732267633</td>
                    <td>1Z0140120251387691</td>
                    <td>2 lbs 10 oz</td>
                    <td><a href="#">view</a></td>
                    <td><span class="label label-success">Received</span></td>
                    <td><a href="#">details</a></td>
                </tr>
                <tr>
                    <td>22115</td>
                    <td>Amazon</td>
                    <td>7732267633</td>
                    <td>1Z0140120251387691</td>
                    <td>5 lbs 12 oz</td>
                    <td><a href="#">view</a></td>
                    <td><span class="label label-success">Received</span></td>
                    <td><a href="#">details</a></td>
                </tr>
                <tr>
                    <td>22116</td>
                    <td>Amazon</td>
                    <td>7732267633</td>
                    <td>1Z0140120251387691</td>
                    <td>3 lbs 45 oz</td>
                    <td>No</td>
                    <td><span class="label label-info">Processed</span></td>
                    <td><a href="#">details</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" style="text-align: center">
                        <a class="btn btn-mini btn-info" href="@Url.Action("Index", "Order")">SHOW MORE</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="row">
    <div class="span12">
        <table class="table table-striped table-condensed">
            <caption style="padding-bottom: 4px;">
                <h4 style="float: left;padding-top: 6px">Latest Parcels</h4>
                <a href="#" class="btn btn-small btn-primary" style="float: right"><i class="icon-white icon-gift"></i> COLLECT A PARCEL</a>
            </caption>
            <thead>
                <tr>
                    <td>#</td>
                    <td>Delivery Address</td>
                    <td>Delivery Method</td>
                    <td>Dispatch Date</td>
                    <td>Delivery Date</td>
                    <td>Status</td>
                    <td>Tracking Number</td>
                    <td>Cost</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Minsk, Novovilenskaya</td>
                    <td>EMS Express</td>
                    <td>02 Feb 2012</td>
                    <td>19 Feb 2012</td>
                    <td><span class="label label-info">Delivered</span></td>
                    <td><a href="http://trkcnfrm1.smi.usps.com/PTSInternetWeb/InterLabelInquiry.do?origTrackNum=EE972210493US">EE972210493US</a></td>
                    <td><a href="#">62.69$</a></td>
                    <td><a href="#">details</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Minsk, Novovilenskaya</td>
                    <td>EMS Priority</td>
                    <td>02 Feb 2012</td>
                    <td>-</td>
                    <td><span class="label label-warning">In Transit</span></td>
                    <td><a href="http://trkcnfrm1.smi.usps.com/PTSInternetWeb/InterLabelInquiry.do?origTrackNum=EE972210492US">EE972210492US</a></td>
                    <td><a href="#">42.67$</a></td>
                    <td><a href="#">details</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Minsk, Novovilenskaya</td>
                    <td>Major Express</td>
                    <td>-</td>
                    <td>-</td>
                    <td><span class="label label-success">Collected</span></td>
                    <td>-</td>
                    <td><a href="#">54.09$</a></td>
                    <td><a href="#">details</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" style="text-align: center">
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>