@{
    ViewBag.Title = "Shop Any Ware - Overview";
}

<div class="row-fluid">
    <div class="span4">
        Shop Orders
        <ul>
            <li>
                <div>ID: 38737 Amazon: Order # 7732267633, TN# 1Z32863V0307459092, <a href="#">Photoes</a> <span class="label label-warning">Waiting</span>, Weight, Special Services (request photoes)</div>
                <div>Item 1, Name: Kindle, Quantity: 1, Color: Black, Price: 79$</div>
                <div>Item 2, Name: IPAD, Quantity: 1, Color: White, Price: 450$</div>
            </li>
            <li><div>ID: 38737 Amazon: Order # 7732267633, TN# 1Z32863V0307459092</div></li>
            <li><div>ID: 38737 Amazon: Order # 7732267633, TN# 1Z32863V0307459092</div></li>
            <li><div>ID: 38737 Amazon: Order # 7732267633, TN# 1Z32863V0307459092</div></li>
            <li><div>ID: 38737 Amazon: Order # 7732267633, TN# 1Z32863V0307459092</div></li>
            <li><div>ID: 38737 Amazon: Order # 7732267633, TN# 1Z32863V0307459092</div></li>
        </ul>
    </div>
    <div class="span4">
        Current Packages
        <ul>
            <li>
                <div>ID: 1 Description, TN# 1Z32863V0307459092, Delivery Date, Dispatch Date, <span class="label label-warning">Waiting</span>, Weight, Request Additional Services (remove invoices, remove boots box, pack in a plastic box, etc.</div>
                <div>Item 1, Name: Kindle, Quantity: 1, Color: Black, Price: 79$</div>
                <div>Item 2, Name: IPAD, Quantity: 1, Color: White, Price: 450$</div>
            </li>
            <li>
                <div>ID: 2 Description, TN# 1Z32863V0307459092, Delivery Date, Dispatch Date, <span class="label label-warning">Waiting</span>, Weight, Request Additional Services (remove invoices, remove boots box, pack in a plastic box, etc.</div>
                <div>Item 1, Name: Kindle, Quantity: 1, Color: Black, Price: 79$</div>
                <div>Item 2, Name: IPAD, Quantity: 1, Color: White, Price: 450$</div>
            </li>
        </ul>
    </div>
    <div class="span4">
        Delivered Packages
        <ul>
            <li>
                <div>ID: 3 Description, TN# 1Z32863V0307459092, Delivery Date, Dispatch Date, <span class="label label-success">Delivered</span>, Weight, Request Additional Services (remove invoices, remove boots box, pack in a plastic box, etc.</div>
                <div>Item 1, Name: Kindle, Quantity: 1, Color: Black, Price: 79$</div>
                <div>Item 2, Name: IPAD, Quantity: 1, Color: White, Price: 450$</div>
            </li>
            <li>
                <div>ID: 4 Description, TN# 1Z32863V0307459092, Delivery Date, Dispatch Date, <span class="label label-success">Delivered</span>, Weight, Request Additional Services (remove invoices, remove boots box, pack in a plastic box, etc.</div>
                <div>Item 1, Name: Kindle, Quantity: 1, Color: Black, Price: 79$</div>
                <div>Item 2, Name: IPAD, Quantity: 1, Color: White, Price: 450$</div>
            </li>
        </ul>
    </div>
</div>