@{
    ViewBag.Title = "Shop Any Ware - Overview";
}

<div class="row-fluid">
    <div class="span4">
        Shop Orders
        <ul>
            <li><div>ID: 38737 Amazon: Order # 7732267633, TN# 1Z32863V0307459092, <a href="#">Photoes</a> <span class="label label-warning">Waiting</span>, Weight, Special Services (request photoes)</div>
                <div>Item 1, Name: Kindle, Quantity: 1, Color: Black, Price: 79$</div>
                <div>Item 2, Name: IPAD, Quantity: 1, Color: White, Price: 450$</div>
                </li>
            <li><div>ID: 38737 Amazon: Order # 7732267633, TN# 1Z32863V0307459092</div></li>
            <li><div>ID: 38737 Amazon: Order # 7732267633, TN# 1Z32863V0307459092</div></li>
            <li><div>ID: 38737 Amazon: Order # 7732267633, TN# 1Z32863V0307459092</div></li>
            <li><div>ID: 38737 Amazon: Order # 7732267633, TN# 1Z32863V0307459092</div></li>
            <li><div>ID: 38737 Amazon: Order # 7732267633, TN# 1Z32863V0307459092</div></li>
        </ul>
    </div>
    <div class="span4">
        Packages
    </div>
    <div class="span4">
        Delivered Packages
    </div>
</div>