@using TdService.Resources.Views
@model TdService.UI.Web.ViewModels.Account.ActivateEmailViewModel

@{
    ViewBag.Title = ActivateEmailResources.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <h3>@Model.ActivateionResult</h3>