@{
    ViewBag.Title = TdService.Resources.Views.AccountViewResources.PasswordResetErrorPageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="control-group">
    @TdService.Resources.Views.AccountViewResources.PwdRecoveryUserNotFound
</div>
