@{
    ViewBag.Title = TdService.Resources.Views.AccountViewResources.PasswordChangedPageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@TdService.Resources.Views.AccountViewResources.PasswordChangedPageContent</h2>
<br />
<a href="@Url.Action("SignIn", "Account")">@TdService.Resources.Views.AccountViewResources.SignInFormHeader</a>