@{
    ViewBag.Title = TdService.Resources.Views.AccountViewResources.PasswordResetPageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="control-group">
    @TdService.Resources.Views.AccountViewResources.PwdRecoveryEmailSent
</div>
