@model TdService.Services.Messaging.Account.SignInView

@{
    ViewBag.Title = "Shop Any Ware - Sign In";
}
<div class="row">
    <div class="span4 offset4">
        <form action="@Url.Action("SignIn", "Account")" method="POST">
            <fieldset>
                <legend>Sign In Form</legend>
                <label for="email">Email:</label>
                <input id="email" name="email" type="text" class="input-xlarge" placeholder="Email" />
                <label for="password">Password:</label>
                <input id="password" name="password" type="password" class="input-xlarge" placeholder="Password" />
                <hr/>
                <input id="button_login" name="login" type="submit" class="btn btn-primary btn-large" value="Start Shopping"/>
                <input id="button_cancel" name="cancel" type="button" class="btn btn-large" value="Cancel" />
            </fieldset>
        </form>
    </div>
</div>