@model TdService.Services.ViewModels.Account.SignInView

@{
    ViewBag.Title = "Shop Any Ware - Sign In";
}

<form class="form-horizontal" action="@Url.Action("SignIn", "Account")" method="POST">
    <fieldset>
        <div class="control-group">
            <h2>Log in to view your ShopAnyWare.ru Account</h2>
        </div>
        <div class="control-group error">
            <label class="control-label">Email:</label>
            <div class="controls">
                <input name="Email" class="input-xlarge" type="text">
                <span class="help-inline">Please correct the error</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Password:</label>
            <div class="controls">
                <input name="Password" class="input-xlarge" type="password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a href="@Url.Action("Forgot", "Account")">Forgot email or password?</a>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input id="rememberMe" name="RememberMe" class="input-xlarge" type="checkbox" checked="checked">
                <label for="rememberMe" class="control-label">Remember me for 2 weeks</label>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-large">Start Shopping!</button>
        </div>
    </fieldset>
</form>