<form class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="shopname">Shop name: </label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="shopname" placeholder="Please type the shop name" />
            </div>
            <label class="control-label" for="ordernumber">Order Number: </label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="ordernumber" placeholder="Please type the order number" />
            </div>
            <label class="control-label" for="trackingnumber">Tracking Number: </label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="trackingnumber" placeholder="Please type the tracking number of your package" />
            </div>
        </div>
    </fieldset>
</form>