@{
    ViewBag.Title = "Shop Any Ware - Contact Us";
}

<h3>Наши контакты</h3>
<br/>
452 PALISADE AVE #D, 07010<br/>
CLIFFSIDE PARK, NJ, USA<br/>
<br/>
<!--
Skype 'Мой статус' button
http://www.skype.com/go/skypebuttons
-->
<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
Skype: <a href="skype:shopanyware?call"><img src="http://mystatus.skype.com/mediumicon/shopanyware" style="border: none;" width="26" height="26" alt="Мой статус" /></a>

<br/> Email: info@shopanyware.com