@{
    ViewBag.Title = "Shop Any Ware - Contact Us";
}

<h3>Наши контакты</h3>
<br/>
452 PALISADE AVE #D, 07010<br/>
CLIFFSIDE PARK, NJ, USA<br/>
<br/>
<script type="text/javascript" src="http://cdn.dev.skype.com/uri/skype-uri.js "></script>
<div id="genSkypeCall">
    <script type="text/javascript">
        Skype.ui({ name: "call", element: "genSkypeCall", participants: ["shopanyware "], listParticipants: "true" });
    </script>
</div>
<br/> Email: info@shopanyware.com