@{
    ViewBag.Title = "Shop Any Ware - Calculate Rate";
}

<label for="country">Country: </label>
<select id="country">
    <option value="">Russia</option>
    <option value="">Belarus</option>
</select>
<label for="weight">Weight: </label>
<input id="weight" type="text" />
<label for="amount">Amount: </label>
<input id="amount" type="text" />