@{
    ViewBag.Title = "Shop Any Ware - Our Services";
}

<h3>Our Services</h3><br />
<div class="row-fluid">
    <ol>
    <li>
        <h4>With ShopAnyWare you can buy from any US Store with your own US address</h4>
        <p>Many USA stores will not ship to people outside the USA or charge very high fees to do so.<br />
            With ShopAnyWare you get your very own US address enabling you to purchase from any US website.<br />
        Simply buy what you want, have it shipped to your ShopAnyWare Address and we ship it to you anywhere in the world.</p>
    </li>
    <li>
        <h4>Save 80% on International Shipping and get your goods faster with 2-4 day delivery worldwide!</h4>
        <ul>
            <li>Free repackaging to minimize dim weight</li>
            <li>Free consolidation of multiple-store orders</li>
            <li>Free Pre-shipment Screening for wrong, broken or prohibited items</li>
            <li>Free Customs Documentation</li>
            <li>Hand-delivery via USPS or Major Express</li>
        </ul>
    </li>
    <li>
        <h4>Get the Best with our Concierge Shopping Services</h4>
        <ul>
            <li>If the US store only accepts US payment.. Our Personal Shoppers can buy it for you.</li>
            <li>Thousands of Deals daily.</li>
            <li>Price Comparison tool to find the store offering the lowest price for a product you want.</li>
            <li>Insider Guides to the hottest US stores, trends and products.</li>
        </ul>
    </li>
</ol>
</div>