/* start reset bootstrap's css */
body
{
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    margin: 0;
}

h3
{
    line-height: 27px;
    font-size: 18px;
}

input,
textarea,
select,
.uneditable-input
{
    line-height: 18px;
    border: 1px solid #cccccc;
}

.btn-large
{
    padding: 9px 14px;
    line-height: normal;
}

.btn-mini
{
    line-height: 14px;
}

.tab-content
{
    width: 100%;
}

.popover
{
    width: auto;
}
/*.row-fluid > [class*="span"]{margin-left:0}
.row-fluid > .span4{width:33.33%}*/
.navbar-inner
{
    background-color: #5E504C;
    background-image: -moz-linear-gradient(top, #5E504C, #302726);
    background-image: -ms-linear-gradient(top, #5E504C, #302726);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5E504C), to(#302726));
    background-image: -webkit-linear-gradient(top, #5E504C, #302726);
    background-image: -o-linear-gradient(top, #5E504C, #302726);
    background-image: linear-gradient(top,#5E504C, #302726);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5E504C', endColorstr='#302726', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar .nav > li > a
{
    color: #b9b9b9;
    text-shadow: none;
    padding: 12px 10px 11px;
    line-height: normal;
}

    /*.nav-pills > li > a
{
    margin: 1px;
}*/

    .navbar .nav > li > a:focus, .navbar .nav > li > a:hover
    {
        color: #FFFFFF;
    }

.navbar .nav .active > a, .navbar .nav .active > a:hover
{
    background-color: #222222;
    color: #FFFFFF;
    text-decoration: none;
}

.navbar .brand
{
    color: #FFFFFF;
    padding: 10px 20px 12px;
    text-shadow: none;
}

@media (min-width: 980px)
{
    .modal
    {
        margin: -320px 0 0 -280px;
    }

    .modal-body
    {
        max-height: 464px;
    }
}
/* end reset bootstrap's css */

html
{
    overflow-y: scroll;
    background: #1c1c1c;
}

#signUpForm .form-horizontal
{
    background: url(img/registration_bg.jpg) no-repeat bottom right;
}

#signInForm .form-horizontal
{
    background: url(img/signin_bg.jpg) no-repeat bottom right;
}

#signUpForm .form-actions, #signInForm .form-actions
{
    background-color: rgba(0, 0, 0, 0.2);
}

.address
{
    margin: 8px 12px;
    width: 340px;
}

.action_copy
{
    float: right;
}

    .action_copy i
    {
        margin-right: 4px;
    }

.box_focus
{
    display: none;
}

.choose_package .box_focus
{
    display: block;
    background-color: #ff9900;
    opacity: .2;
    cursor: pointer;
    position: absolute;
    height: 160px;
    width: 900px;
    z-index: 999;
}

.choose_package .hover
{
    border-color: #ff9900;
    box-shadow: 0 0 5px rgba(255, 153, 0, 1);
    -webkit-box-shadow: 0 0 5px rgba(255, 153, 0, 1);
    -moz-box-shadow: 0 0 5px rgba(255, 153, 0, 1);
}

.choose_package .popover
{
    display: block;
    top: 170px;
    left: auto;
    width: 900px;
    padding: 0;
}

.error-inline
{
    clear: right;
}

    .error-inline input, .error-inline div
    {
        float: left;
    }

.field-validation-error
{
    color: #ff0000;
}

    .field-validation-error span
    {
        background-color: #f2dede;
        border-color: #eed3d7;
        color: #b94a48;
        margin: 0 12px;
        padding: 4px 8px;
        line-height: 28px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.table-hover td
{
    cursor: pointer;
}

    .table-hover td a
    {
        display: block;
        height: 100%;
        width: 100%;
    }

        .table-hover td a:hover
        {
            color: #08C;
            text-decoration: none;
        }

.validation-summary-errors
{
    color: #B94A48;
    background-color: #F2DEDE;
    border-color: #EED3D7;
    padding: 8px 35px 8px 14px;
    margin: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    .validation-summary-errors ul
    {
        margin: 5px 20px;
    }

.validation-summary-valid
{
    display: none;
}

.en, .ru
{
    margin: 10px 8px;
    border: 2px solid #473c39;
    padding: 0 !important;
    height: 16px;
    width: 24px;
}

.en
{
    background: url(img/en.png);
}

.ru
{
    background: url(img/ru.png);
}

.mail
{
    background: url(img/mail.jpg) no-repeat 0 0;
    right: 20px;
    position: absolute;
    height: 256px;
    width: 450px;
}

.mail_address
{
    padding: 30px 40px;
    font-size: 18px;
    line-height: normal;
}

.mail_side
{
}

.popover-inner
{
    width: auto;
}

.dollar
{
    color: #fff;
    font: bold 16px Verdana;
    line-height: 14px;
}

.choosen_culture, .choosen_culture:hover
{
    border: 2px solid #473c39;
    outline: 1px solid #ff9900;
}

.filter
{
    display: table;
    list-style: none;
}

    .filter li
    {
        margin: 8px 0;
    }

    .filter .text
    {
        width: 48px;
        text-align: right;
    }

.float_right
{
    float: right;
}

.header
{
    clear: both;
}

    .header th
    {
        background-color: #F9F9F9;
    }

    .header input
    {
        margin: 0;
    }

.in
{
    padding: 4px;
}

.new
{
    border: 1px dashed #ccc;
}

    .new div
    {
        font-size: 32px;
        color: #ccc;
        margin: 8px auto;
        text-align: center;
    }

.sub
{
    margin: 4px;
    display: block;
}

    .sub .link_example
    {
        float: left;
    }

        .sub .link_example a
        {
            border-bottom: 1px dotted #999;
            color: #999;
            text-decoration: none;
        }

            .sub .link_example a:hover
            {
                border-bottom: 1px dotted #333;
                color: #333;
                text-decoration: none;
            }

.link_expand
{
    float: right;
    position: relative;
    top: 28px;
}

.package
{
    margin: 12px 0;
}

    .package .input-append, .package .input-prepend
    {
        font-size: 13px;
    }

.add-order
{
    padding: 8px;
    font-size: 16px;
}

.box
{ /*background:url(img/box_bg.jpg);*/
    background-color: #E6DCAE;
    border: 1px solid #aa9985;
    border-radius: 4px;
    padding: 4px 8px;
}

    .box .alert
    {
        margin: 0;
    }

    .box .label, box .label:hover
    {
        background-color: #aa9985;
        cursor: default;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    }

    .box .status-new, .box .status-new:hover
    {
        background-color: #339933;
    }

    .box .status-returned, .box .status-returned:hover
    {
        background-color: #CC3333;
    }

    .box .status-returnrequested, .box .status-returnrequested:hover
    {
        background-color: #CC3333;
    }

    .box .status-received, .box .status-received:hover
    {
        background-color: #334dcc;
    }

    .box .status-disposed, .box .status-disposed:hover
    {
        background-color: #464444;
    }

    .box .status-delivered, .box .status-delivered:hover
    {
        background-color: #464444;
    }

    .box .status-pendingpayment, .box .status-pendingpayment:hover
    {
        background-color: #b7ae10;
    }

    .box .status-dispatched, .box .status-dispatched:hover
    {
        background-color: #b7ae10;
    }

    .box .status-readytodispatch, .box .status-readytodispatch:hover
    {
        background-color: #b7ae10;
    }

    .box .name
    {
        font-weight: bold;
        vertical-align: middle;
    }

    .box .white
    { /*background:url(img/white_bg.jpg);*/
        background-color: #F7F3E5;
        border-radius: 2px;
        margin: 4px 0;
    }

        .box .white .border
        {
            padding: 4px;
        }

    .box table
    {
        border: 0;
        width: 100%;
    }

        .box table th
        {
            background-color: #eee;
            padding: 2px 4px;
        }

        .box table td
        {
            border-top: 1px dashed #ccc;
            padding: 2px 4px;
            text-align: center;
        }

            .box table td .dropdown-menu li
            {
                margin: 4px 8px;
                text-align: left;
            }
/*.action table tr span{padding:2px 4px}*/
.action .info .editable
{
    padding: 2px 4px;
}

    .action .info .editable:hover
    {
        background-color: #FFEEA8;
        cursor: text;
    }

.action .info .dropdown-menu li
{
}

.action .info .dropdown-menu a:hover
{
    background-color: #FFEEA8;
    color: #000;
}

.action .info .dropdown-menu li .label
{
    display: inline-block;
    line-height: 12px;
    margin: -2px -2px 0 0;
}

.box table td.draggable
{
    padding: 0;
    width: 9px;
}

    .box table td.draggable div
    {
        background: url(img/draggable.png) repeat-y;
        padding: 4px 0;
        height: 12px;
        width: 9px;
    }

.box table .sortable tr:hover
{
    background-color: #eee;
    cursor: move;
}
/*.box table tfoot td{background-color:#eee;font-weight:bold}*/
.box .details td
{
    vertical-align: top;
}

.details p
{
    margin: 2px 4px;
}

.box .type th
{
    background-color: transparent;
    text-align: left;
}

.box .left
{
    text-align: left;
}

.box .right
{
    text-align: right;
}

.box table .btn-group .btn
{
    float: none;
}

.box table tfoot
{
    font-weight: bold;
}

.edit input
{
    padding: 2px 4px;
    text-align: center;
    width: 80%;
}

.edit .left input
{
    text-align: left;
}

.body_header
{
    height: 24px;
}

    .body_header h3
    {
        float: left;
    }

    .body_header i
    {
        float: right;
        margin: 2px 4px;
    }

    .body_header .balance_text
    {
        float: right;
        margin: 6px 12px;
        font-weight: bold;
        font-size: 18px;
    }

.box .header
{
    width: auto;
}

    .box .header td
    {
        border: 0;
    }

.box table tfoot
{
    border-top: 1px solid #ccc;
}

.status_new
{
    background-color: #B2D1FF;
    border: 1px solid #67a4ff;
}

.status_returned
{
    background-color: #F5B5B9;
    border: 1px solid #c8353e;
}

.from
{
    color: #999;
    font-style: italic;
}

.label-photo
{
    border-radius: 3px 0 0 3px;
}

.badge-photo
{
    background-color: #ff9900;
    border-radius: 0 3px 3px 0;
    font-size: 10.998px;
}

.package .title
{
    padding: 0;
    width: 100%;
}

    .package .title .right
    {
        text-align: right;
    }

    .package .title td
    {
        border: 0;
        padding: 0;
        margin: 0;
        text-align: left;
    }

        .package .title td .label
        {
            line-height: normal;
            margin: 0;
        }

    .package .title .icon, .package .title .icon-white
    {
        margin: 2px;
    }

    .package .title .btn-mini .caret
    {
        margin-top: 8px;
    }

    .package .title .icon-chevron-right, .package .title .icon-chevron-down
    {
        cursor: pointer;
        margin: 2px;
    }

.package .btn-group
{
    margin: 0;
    padding: 0;
}

.package .btn-large
{
    font-size: 14px;
}

.pac
{
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
}

    .pac td
    {
        margin: 0;
        padding: 0;
    }

.form_registration
{
    margin: 0 0 20px 0;
}

    .form_registration .nav
    {
        margin: 0;
    }

    .form_registration .nav-tabs
    {
        border-bottom: 1px solid #999;
    }

        .form_registration .nav-tabs li
        {
            margin-bottom: -2px;
        }

            .form_registration .nav-tabs li a:hover
            {
                border-color: transparent;
                background-color: transparent;
                text-decoration: underline;
            }

            .form_registration .nav-tabs li.active a:hover
            {
                background-color: #fff;
            }

    .form_registration .tab-content
    {
        /*background-color: #e6f5e6;*/
        border: 1px solid #999;
        border-top: transparent;
        padding-top: 18px;
    }

    .form_registration .form-actions, .form_registration form
    {
        margin: 0;
    }

    .form_registration .form-actions
    {
        /*background-color: #81ce81;*/
        border-top: transparent;
    }

    .form_registration a
    {
        color: #0068b8 !important;
    }

    .form_registration .active > a
    {
        /*background-color: #e6f5e6 !important;*/
        border: 1px solid #999 !important;
        border-bottom: transparent !important;
        color: #333 !important;
        text-decoration: none !important;
    }

    .form_registration input, .form_registration textarea, .form_registration select, .form_registration .uneditable-input
    {
        border: 1px solid #52a552 !important;
    }

        .form_registration input:focus:required:invalid:focus, .form_registration textarea:focus:required:invalid:focus, .form_registration select:focus:required:invalid:focus
        {
            -webkit-box-shadow: 0 0 6px #52a552;
            -moz-box-shadow: 0 0 6px #52a552;
            box-shadow: 0 0 6px #52a552;
        }

.form_login
{
    margin: 0 0 20px 0;
}

    .form_login .nav
    {
        margin: 0;
    }

    .form_login .nav-tabs
    {
        border-bottom: 1px solid #0068b8;
    }

        .form_login .nav-tabs li
        {
            margin-bottom: -2px;
        }

            .form_login .nav-tabs li a:hover
            {
                border-color: transparent;
                background-color: transparent;
                text-decoration: underline;
            }

    .form_login .tab-content
    {
        background-color: #d6ecf7;
        border: 1px solid #0068b8;
        border-top: transparent;
        padding-top: 18px;
    }

    .form_login .form-actions, .form_login form
    {
        margin: 0;
    }

    .form_login .form-actions
    {
        background-color: #339ed5;
        border-top: transparent;
    }

    .form_login a
    {
        color: #52a552 !important;
    }

    .form_login .active > a
    {
        background-color: #d6ecf7 !important;
        border: 1px solid #0068b8 !important;
        border-bottom: transparent !important;
        color: #333 !important;
        text-decoration: none !important;
    }

    .form_login input, .form_registration textarea, .form_registration select, .form_registration .uneditable-input
    {
        border: 1px solid #0068b8 !important;
    }

        .form_login input:focus:required:invalid:focus, .form_registration textarea:focus:required:invalid:focus, .form_registration select:focus:required:invalid:focus
        {
            -webkit-box-shadow: 0 0 6px #0068b8;
            -moz-box-shadow: 0 0 6px #0068b8;
            box-shadow: 0 0 6px #0068b8;
        }

.transaction
{
    margin: 8px 12px;
    width: 500px;
}

    .transaction td
    {
        text-align: center;
    }

    .transaction tr > td:first-child
    {
        text-align: left;
    }

    .transaction tr > th:first-child
    {
        text-align: left;
    }

    .transaction a
    {
        color: #fff;
    }

.ui-sortable-helper
{
    border: 1px solid #ff9900;
    width: auto;
}

    .ui-sortable-helper td
    {
        border: none;
        background-color: #FFEEA8;
        width: auto;
    }

.store_address
{
    float: right;
    border-bottom: 1px dashed #08C;
    margin-top: 3px;
}

    .store_address:hover
    {
        border-bottom: 1px dashed #005580;
        text-decoration: none;
    }

.balance
{
    float: right;
}

::-moz-selection
{
    background: #fc9362;
    color: #fff;
    text-shadow: none;
}

::selection
{
    background: #fc9362;
    color: #fff;
    text-shadow: none;
}

:focus
{
    outline-color: transparent!important;
    outline-style: none!important;
}

#footer-extra a
{
    color: #999;
}

    #footer-extra a:hover
    {
        color: #ccc;
    }

footer
{
    background: #292727;
    margin: 40px 0 0;
    padding: 20px 0 0;
    color: #ccc;
}

    footer input
    {
        margin: 0 !important;
    }

    footer h3
    {
        color: white;
    }

    footer ul
    {
        list-style-type: none;
        margin: 0 0 10px 0;
    }

        footer ul li
        {
            padding: 4px 0;
        }

            footer ul li a
            {
                color: #999;
            }

                footer ul li a:hover
                {
                    color: #fff;
                }

    footer .social-networks a
    {
        display: inline-block;
        margin: 10px 10px 0 0;
        padding: 4px 0 0 0;
        font-size: 22px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        text-align: center;
        width: 32px;
        height: 30px;
        line-height: 24px;
        background: #222;
        text-decoration: none;
        color: #fff;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        -ms-transition: all .3s;
        transition: all .3s;
    }

    footer .social-networks .icon-facebook
    {
        border: 3px solid #3b5998;
    }

        footer .social-networks .icon-facebook:hover
        {
            background: #3b5998;
        }

    footer .social-networks .icon-github
    {
        border: 3px solid #a9cf54;
    }

        footer .social-networks .icon-github:hover
        {
            background: #a9cf54;
        }

    footer .social-networks .icon-pinterest
    {
        border: 3px solid #de2c6c;
    }

        footer .social-networks .icon-pinterest:hover
        {
            background: #de2c6c;
        }

    footer .social-networks .icon-twitter
    {
        border: 3px solid #31cdfd;
    }

        footer .social-networks .icon-twitter:hover
        {
            background: #31cdfd;
        }

    footer .social-networks .icon-google-plus
    {
        border: 3px solid #c9402e;
    }

        footer .social-networks .icon-google-plus:hover
        {
            background: #c9402e;
        }

    footer .social-networks a:hover
    {
        background: #000;
        color: #fff;
    }

#footer-extra
{
    background: #1c1c1c;
    padding: 10px 0;
    font-size: .9em;
    color: #999;
}

    #footer-extra i
    {
        color: #afdbea;
    }

/*  Font Awesome styles
    ------------------------------------------------------- */
@font-face
{
    font-family: "FontAwesome";
    src: url('font/fontawesome-webfont.eot');
    src: url('font/fontawesome-webfont.eot?#iefix') format('eot'), url('font/fontawesome-webfont.woff') format('woff'), url('font/fontawesome-webfont.ttf') format('truetype'), url('font/fontawesome-webfont.svg#FontAwesome') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before
{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
}

a [class^="icon-"], a [class*=" icon-"]
{
    display: inline-block;
    text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before
{
    vertical-align: top;
    font-size: 1.3333333333333333em;
}

.btn [class^="icon-"], .btn [class*=" icon-"]
{
    /* keeps button heights with and without icons the same */
    line-height: .9em;
}

li [class^="icon-"], li [class*=" icon-"]
{
    display: inline-block;
    width: 1.25em;
    text-align: center;
}

li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"]
{
    /* 1.5 increased font size for icon-large * 1.25 width */
    width: 1.875em;
}

li[class^="icon-"], li[class*=" icon-"]
{
    margin-left: 0;
    list-style-type: none;
}

    li[class^="icon-"]:before, li[class*=" icon-"]:before
    {
        text-indent: -2em;
        text-align: center;
    }

    li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before
    {
        text-indent: -1.3333333333333333em;
    }
/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-envelope:before
{
    content: "\f003";
}

.icon-money:before
{
    content: "\f0d6";
}

.icon-phone:before
{
    content: "\f095";
}

.icon-phone-sign:before
{
    content: "\f098";
}

.icon-skype:before
{
    content: "\f503";
}

.icon-twitter:before
{
    content: "\f099";
}

.icon-facebook:before
{
    content: "\f09a";
}

.icon-google-plus-sign:before
{
    content: "\f0d4";
}

.icon-google-plus:before
{
    content: "\f0d5";
}

.validationMessage
{
    display: none;
}

.roles-filter {
    margin: 10px;    
}

.roles-filter td
{
    padding-right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.pagingArea {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.pagingArea select {
    width: 60px;
    margin-bottom: 0px;
}
.navButtonsSpan {
    display: inline;
}
.navButtonsSpan input {
    width: 40px;
    text-align: center;
}
.pagingTable {
    display: inline;
}
.pageSizeSpan {
    float: left;
}
.pageNumberSpan {
    float: right;
}
.navButtonsSpan input[type=text] {
    margin-bottom: 0px;
}

.roleSpan {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.roleSpanInRole {
    font-weight: bold;
}