/* start reset bootstrap's css */
input,textarea,select,.uneditable-input{margin-bottom:0}
/*.row-fluid > [class*="span"]{margin-left:0}
.row-fluid > .span4{width:33.33%}*/
.navbar-inner {
    background-color: #5E504C;
    background-image: -moz-linear-gradient(top, #5E504C, #302726);
    background-image: -ms-linear-gradient(top, #5E504C, #302726);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5E504C), to(#302726));
    background-image: -webkit-linear-gradient(top, #5E504C, #302726);
    background-image: -o-linear-gradient(top, #5E504C, #302726);
    background-image: linear-gradient(top,#5E504C, #302726);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5E504C', endColorstr='#302726', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    }
.navbar .nav > li > a{color:#b9b9b9}
.nav-pills > li > a{margin:1px}
.navbar .nav > li > a{padding:12px 10px 11px;line-height:normal}
.navbar .brand{padding:10px 20px 12px}
/* end reset bootstrap's css */

html{overflow-y:scroll}

footer{color:#999;text-align:right}

.address{margin:8px 12px;width:340px}
.action_copy{float:right}
    .action_copy i{margin-right:4px}
.error-inline{clear:right}
    .error-inline input,.error-inline div{float:left}
    
.field-validation-error{color:#ff0000}
    .field-validation-error span{background-color:#f2dede;border-color:#eed3d7;color:#b94a48;margin:0 12px;padding:4px 8px;line-height:28px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.field-validation-valid{display:none}
.input-validation-error{border:1px solid #ff0000;background-color:#ffeeee}
.validation-summary-errors{font-weight:bold;color:#ff0000}
.validation-summary-valid{display: none;}

.en,.ru{margin:10px 8px;border:2px solid #473c39;padding:0 !important;height:16px;width:24px}
    .en{background:url(img/en.png)}
    .ru{background:url(img/ru.png)}
.dollar{color:#fff;font:bold 16px Verdana;line-height:14px}
.choosen_culture,.choosen_culture:hover{border:2px solid #473c39;outline:1px solid #ff9900}
.filter{display:table;list-style:none}
    .filter li{margin:8px 0}
    .filter .text{width:48px;text-align:right}
.float_right{float:right}
.header{clear:both}
    .header th{background-color:#F9F9F9}
.in{padding:4px}
    .in{padding:4px}
.new{border:1px dashed #ccc}
    .new div{font-size:32px;color:#ccc;margin:8px auto;text-align:center}
/*.input-append .grey{margin-right:-4px !important;line-height:26px;height:26px;width:26px;
      background-color: #E6E6E6;
  background-image: -moz-linear-gradient(top, #E6E6E6, #ccc);
  background-image: -ms-linear-gradient(top, #E6E6E6, #ccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E6E6E6), to(#ccc));
  background-image: -webkit-linear-gradient(top, #E6E6E6, #ccc);
  background-image: -o-linear-gradient(top, #E6E6E6, #ccc);
  background-image: linear-gradient(top, #E6E6E6, #ccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6E6E6', endColorstr='#ccc', GradientType=0);
  border-color: #ccc #ccc #E6E6E6;}*/
.sub{margin:4px;display:block}
    .sub .link_example{float:left}
        .sub .link_example a{border-bottom:1px dotted #999;color:#999;text-decoration:none}
            .sub .link_example a:hover{border-bottom:1px dotted #333;color:#333;text-decoration:none}
    .sub .link_expand{float:right}
.package{margin:12px 0}
    .add-order{padding:8px;font-size:16px}
    .box{/*background:url(img/box_bg.jpg);*/background-color:#E6DCAE;border:1px solid #aa9985;border-radius:4px;padding:4px 8px}
        .box .alert{margin:0}
        .box .label,box .label:hover{background-color:#aa9985;cursor:default;text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25)}
        .box .status-new,.box .status-new:hover{background-color:#339933}
        .box .status-return,.box .status-return:hover{background-color:#CC3333}
        .box .name{font-weight:bold;vertical-align:middle}
        .box .white{/*background:url(img/white_bg.jpg);*/background-color:#F7F3E5;border-radius:2px;margin:4px 0}
        .box .white .border{padding:4px}
        .box table{border:0;width:100%}
            .box table th{background-color:#eee;padding:2px 4px}
            .box table td{border-top:1px dashed #ccc;padding:2px 4px;text-align:center}
                .box table td .dropdown-menu li{margin:4px 8px;text-align:left}
            /*.action table tr span{padding:2px 4px}*/
                .action table.info tbody tr span:hover{background-color:#FFEEA8;cursor:text}
            .box table td.draggable{padding:0;width:9px}
                .box table td.draggable div{background:url(img/draggable.png) repeat-y;padding:4px 0;height:12px;width:9px}
            .box table .sortable tr:hover{background-color:#eee;cursor:move}
            /*.box table tfoot td{background-color:#eee;font-weight:bold}*/
        .box .details td{vertical-align:top}
            .details p{margin:2px 4px}
        .box .type th{background-color:transparent;text-align:left}
        .box .left{text-align:left}
        .box .right{text-align:right}
        .box table .btn-group .btn{float:none}
        .box table tfoot{font-weight:bold}
        .edit input{padding:2px 4px;text-align:center;width:80%}
            .edit .left input{text-align:left}
    .box .header{width:auto}
    .box .header td{border:0}
    .box table tfoot{border-top:1px solid #ccc}
    .status_new{background-color:#B2D1FF;border:1px solid #67a4ff}
    .status_returned{background-color:#F5B5B9;border:1px solid #c8353e}
    .from{color:#999;font-style:italic}
    .label-photo{border-radius:3px 0 0 3px}
    .badge-photo{background-color:#ff9900;border-radius:0 3px 3px 0;font-size:10.998px}
    .package .title{padding:0;width:100%}
        .package .title .right{text-align:right}
        .package .title td{border:0;padding:0;margin:0;text-align:left}
        .package .title td .label{line-height:normal;margin:0}
        .package .title .icon,.package .title .icon-white{margin:2px}
            .package .title .btn-mini .caret{margin-top:8px}
        .package .title .icon-chevron-right{cursor:pointer;margin:2px}
    .package .btn-group{margin:0;padding:0}
    .package .btn-large{font-size:14px}
    .pac{border-collapse:collapse;margin:0;padding:0;width:100%}
    .pac td{margin:0;padding:0}
.transaction{margin:8px 12px;width:500px}
    .transaction td{text-align:center}
    .transaction tr>td:first-child{text-align:left}
    .transaction tr>th:first-child{text-align:left}
    .transaction a{color:#fff}
.ui-sortable-helper{border:1px solid #ff9900;width:auto}
    .ui-sortable-helper td{border:none;background-color:#FFEEA8;width:auto}